@font-face {
  font-family: cocogoose1;
  src: url("fonts/cocogoose/Cocogoose_trial.otf");
}
@font-face {
  font-family: lato1;
  src: url("fonts/lato/Lato-Regular.ttf");
}
@font-face {
  font-family: lato2;
  src: url("fonts/lato/Lato-BlackItalic.ttf");
}
.container {
  overflow: hidden;
}

.nav-item a {
  color: white;
  z-index: 2;
}

.nav3 a {
  font-family: lato1;
  color: #d3d3d3;
}

body {
  background-color: #f9f9f9;
}

.bg-image {
  width: 100%;
  height: 120px;
  opacity: 0.1;
  z-index: 2;
  position: absolute;
  top: 0;
}

nav {
  background-color: black;
  z-index: 3;
}

.nav2 {
  background-color: white;
  height: 60px;
  z-index: 3;
}

.navbar-brand {
  color: #272a31;
  z-index: 3;
}

.nav3 {
  margin-top: 10px;
  z-index: 3;
}

.nav3 a {
  padding-right: 40px;
  z-index: 2;
}

.pr-6 .a-btn {
  border: 4px solid #ec5242;
  color: #ec5242;
  z-index: 3;
}

.sec1 {
  float: left;
}

.fa-bars {
  color: #272a31;
  z-index: 3;
}

.bg1 {
  position: relative;
  top: 550px;
  left: 200px;
  z-index: 1;
}

.bg2 {
  position: relative;
  top: 390px;
  left: 770px;
  z-index: 1;
}

.bg3 {
  position: relative;
  top: 190px;
  left: 30;
  z-index: 1;
}

.bg4 {
  position: relative;
  top: 400px;
  left: 10px;
  z-index: 1;
}

.bg5 {
  position: relative;
  top: 70px;
  left: 5px;
  z-index: 1;
}

.bg6 {
  position: relative;
  top: 80px;
  left: 90px;
  z-index: 1;
}

.bg7 {
  position: relative;
  top: 600px;
  left: 50px;
  z-index: 1;
}

.bg8 {
  position: relative;
  top: 300px;
  left: 0;
  z-index: 1;
}

.bg9 {
  position: relative;
  top: 50px;
  left: 300px;
  z-index: 1;
}

.bg10 {
  position: relative;
  top: 250px;
  left: 8px;
  z-index: 1;
}

.sec2 {
  position: relative;
  top: -100px;
}

.main-w {
  position: relative;
  z-index: 3;
}

section h1 {
  font-family: lato1;
  font-size: 12px;
  color: #ec5242;
}

.small-div {
  background-color: #f9f9f9;
  font-family: lato1;
  font-size: 12px;
  font-weight: bold;
  color: #272a31;
}

.small-div2 {
  color: #272a31;
  font-family: cocogoose1;
  font-size: 12px;
}

.small-div3 {
  color: #272a31;
  font-style: lato1;
  font-size: 12px;
}

.row-s {
  background-color: #f9f9f9;
}

section .test1 {
  font-family: cocogoose1;
  background-image: url(./img/orange2.jpg);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

.main {
  background-color: #272a31;
}

.line {
  width: 30px;
  height: 1px;
  border: 2px solid #ec5242;
}

.cardd {
  height: 110px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.card-img {
  width: 60px;
  height: 100px;
}

.cardd-text {
  position: absolute;
  left: 200px;
  top: -80px;
  color: white;
}

.text-break {
  position: relative;
  top: 30px;
}

.card-h {
  color: #ec5242;
}

.see {
  font-family: lato1;
  font-weight: bold;
  font-size: 13px;
  color: white;
}

.f-speak {
  font-family: lato1;
  color: #272a31;
  font-size: 14px;
}

.cardd2 {
  height: 110px;
  background-color: #f9f9f9;
  color: #272a31;
}

.cardd-text2 {
  position: absolute;
  left: 100px;
  top: -100px;
  color: black;
  font-size: 12px;
}

.cardd-text4 {
  padding-top: -300px;
}

.card-h2 {
  color: #272a31;
  font-size: 14px;
}

.line2 {
  position: absolute;
  margin: 0;
  padding-right: 50px;
  border-top: 3px solid #d3d3d3;
}

.cardd-text3 {
  font-family: lato2;
  color: #ec5242;
  font-size: 10px;
}

.space {
  height: 50px;
}

.space2 {
  height: 15px;
}

.space3 {
  height: 110px;
}

@media (min-width: 768px) {
  .cardd-text2 {
    position: absolute;
    left: 25px;
    top: 0;
    color: black;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .foot-img {
    width: 40px;
    height: 20px;
  }
}
.f-speak2 {
  font-family: lato1;
  color: #d3d3d3;
  font-size: 14px;
}

.foot1 {
  background-color: #272a31;
}

.about-nav2 {
  box-shadow: 5px 10px 18px #888888;
}

.about-text p {
  height: 150px;
  background-color: white;
  color: #d3d3d3;
  font-family: lato1;
  padding-top: 30px;
}

.text-center {
  padding-left: 80px;
  padding-right: 80px;
}

.about-text .coco {
  font-family: cocogoose1;
  font-weight: bold;
  font-size: 10;
}

.about-log1 {
  font-family: lato1;
  font-weight: bold;
  color: #272a31;
  font-size: 20px;
}

.about-log2 {
  font-family: lato1;
  color: #272a31;
  font-size: 12px;
}

.logo {
  font-family: cocogoose1;
  font-size: 50px;
  font-weight: bold;
  margin: auto;
}

.about-img1 {
  width: 50%;
  margin: auto;
}

.about-img1 img {
  width: 250px;
  height: 200px;
  margin-right: 20px;
}

.about-btm {
  font-family: lato1;
  color: #272a31;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.about-ft {
  background-color: #272a31;
}

.about-ft-text {
  font-family: lato1;
  color: white;
}

.about-ft-logo {
  font-family: cocogoose1;
  font-size: 50px;
  font-weight: bold;
  margin: auto;
  color: white;
}

.ticket1 {
  background-color: #f9f9f9;
}

.ticket-ins2 li {
  font-family: lato1;
  color: #ec5242;
}

.ticket-ins2 li .t-inst2 {
  font-family: lato1;
  color: #272a31;
}

.ticket-ins {
  border-radius: 24px;
  height: 40px;
  width: 47%;
  padding-top: 6px;
  margin: auto;
}

.table {
  border: 5px dashed;
  border-color: #ec5242;
}

.ticket2 {
  background-color: white;
}

.lunch {
  margin: auto;
}

.lunch li {
  display: inline;
}

/*# sourceMappingURL=styles.css.map */
